<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e429627e-e0c3-4b85-9057-b1df9e0dfc02" Publisher="CN=Jérémy" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WinTimer</DisplayName>
    <PublisherDisplayName>Jérémy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinTimer.App">
      <VisualElements DisplayName="WinTimer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WinTimer" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>